{% extends 'base.html' %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Delete Category</h4>
    <div class="card">
      <div class="card-body">
        <p class="delete-message">Are you sure you want to delete <strong class="delete-item-name">{{ object }}</strong>?</p>
        <form method="post" class="delete-form" data-delete-animation>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.GET.next }}">
          <a href="{% url 'category-list' %}" class="btn btn-light">Cancel</a>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

